<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Login</h1>
    <form [formGroup]="signInForm" (ngSubmit)="signInWithEmail()">
    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signInForm.get('email').hasError(validation.type) && (signInForm.get('email').dirty || signInForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="signInForm.get('password').hasError(validation.type) && (signInForm.get('password').dirty || signInForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-button class="sign-in-btn" type="submit" expand="block" [disabled]="!signInForm.valid" expand="block" class="main-button" >Log in</ion-button>
      <div class="error-container" *ngIf="submitError">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
      <div class="sign-up">
        Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Sign up</ion-button>
      </div>
      <div class="social-auth-options">
        <p class="options-divider">Or</p>
        <ion-button class="social-auth-btn" color="primary" expand="block" (click)="facebookSignIn()">Facebook Sign In</ion-button>
        <ion-button class="social-auth-btn google-auth-btn" color="danger" expand="block" (click)="googleSignIn()">Google Sign In</ion-button>
        <ion-button class="social-auth-btn twitter-auth-btn" color="secondary" expand="block" (click)="twitterSignIn()">Twitter Sign In</ion-button>
      </div>
    </div>
  </form>
  </div>
</ion-content>
